/* Import common constants, standards &styles */
@import '../CssStyles/index.less';

.NavHorizontal {
}

.NavHorizontal__ul {
  &:extend(.d_f, .m_x_0, .p_x_0);
}

.NavHorizontal__li {
  &:extend(.m_b_0, .p_r_0p5_rem);
  letter-spacing: 1px;
  font-family: "GT-Eesti 4r",Arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: initial;
  list-style-type: none;
}

.NavHorizontal__a {
  padding-bottom: 0px;
  border-bottom: 2px solid transparent;
  color: #363636;
  text-decoration: none;
  cursor: pointer;
  line-height: 25px;
  /* display: block; */
  white-space: nowrap;
  color: #363636;
  text-transform: uppercase;
}

.NavHorizontal__a_github {
  .p_l_3_rem;
  font-weight: 800;
}

.NavHorizontal__capture_active {
  border-bottom: 1px solid #866347;
}
